html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    line-height: normal;
}

.bold {
    font-weight: 900;
}

.size-80 {
    font-size: 80px;
}

.size-40 {
    font-size: 40px;
}

.color-white {
    color: white;
}

.color-dred {
    color: darkred;
}

.ch-v-center {
    display: flex;
    align-items: center;
}

.ch-h-center {
    display: flex;
    justify-content: center;
}

.pad-h-40 {
    padding-left: 40px;
    padding-right: 40px;
}

.pad-h-100 {
    padding-left: 100px;
    padding-right: 100px;
}

.margin-v-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.bg-black {
    background-color: black;
}

.bg-darkgray {
    background-color: rgb(40, 40, 40);
}

.max-width-1000 {
    max-width: 1000px;
}

#title-page-out-div {
    background-image: url('../static/911-towers-img.jpg');
    background-size: cover;
}

.full-height {
    height: 100%;
}

#casualty-count-div {
    background-image: url('../static/oklahoma.png');
    background-size: cover;
}

.pos-relative {
    position: relative;
}

.upper-left {
    position: absolute;
    top: 60px;
    left: 40px;
}

.upper-left-sm {
    position: absolute;
    top: 20px;
    left: 20px;
}

.bottom-left {
    position: absolute;
    bottom: 60px;
    left: 40px;
}
